:root {
    --main: #35323b;
    --btns: #000000ad, #1c49c2, #1c49c2, #e0e0e0a8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}


header{
    background-color: #020e4a;
    color: #fff;
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
}

.headerContainer{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
    width: 100%;
}

.upperPart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

.logo{
    margin: 10px;
    opacity: 1;
    /* opacity: 0;
    animation: slideRight 1s ease forwards; */
}

.logo > a{
    text-decoration: none;
    color: #fff;
}

.logo span {
    text-shadow: 5px 5px 2px black;
    font-size: 35px;
    font-weight: 600;
}

.searchContainer{
    flex: 1;
    width: 100%;
    position: relative;
    opacity: 1;
    /* opacity: 0;
    animation: slideBottom 1s ease forwards; */
}

.searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.innerForm{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.searchBtn, .micBtn, .cameraBtn{
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    /* right: -16px; */
    height: 35px;
    width: 25px;
}

.searchBtn i, .micBtn i, .cameraBtn i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.searchForm input{
    padding-left: 5px;
    border: none;
    width: 20rem;
    height: 35px;
    outline-style: none;
    font-size: 18px;
    font-weight: 200;
}

.searchBtnRes{
    height: 35px;
    width: 35px;
    display: none;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    /* position: absolute; */
    /* right: -16px; */
}

.searchBtnRes i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.micBtn {
    background: transparent;
    border: none;
}

.cart, .services, .login, .menuBtn {
    opacity: 1;
    /* animation: slideLeft 1s ease forwards; */
    /* animation-delay: calc(.2s * var(--i)); */
    padding: 9px 13px;
    font-size: 30px;
    background: transparent;
    margin: 10px;
    border: none;
    border-radius: 10px;
}

.cart {
    /* margin: 20px; */
    /* background-color: orange; */
    /* background: linear-gradient(360deg, var(--btns)); */
    /* padding: 10px 15px; */
}

.cart i{
    color: #fff;
}

.cart a, .services a, .login a, .menuBtn a{
    text-decoration: none;
    color: white;
}

.services {
    /* margin: 20px; */
    /* background: linear-gradient( #e0e0e0a8, #310970, #310970, #000000ad); */
    /* background: linear-gradient(360deg, var(--btns)); */
    /* padding: 10px 15px; */
}

.login {
    margin: 20px;
    /* background: linear-gradient(360deg, var(--btns)); */
    padding: 10px 15px;
}

.side {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    background: #000;
}

.sideVisible {
    display: none;
}

.lowerPart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    color: #fff;
}

.lowerPart > button{
    background: transparent;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    position: relative;
    
}

.dealBtn:hover .dealBtn-inner {
    /* transform: scale(1); */
    /* visibility: visible; */
    display: flex;
    animation: ani1 0.5s ease-out;
}

.dealBtn-inner {
    border: 2px solid #dbdbdbad;
    border-radius: 20px;
    display: none;
    /* transform: scale(0); */
    /* visibility: hidden; */
    background-color: rgba(255, 255, 255, 0.548);
    backdrop-filter: blur(10px);
    min-width: 60rem;
    min-height: 35rem;
    margin-top: 10px;
    cursor: auto;
    position: absolute;
    top: 20px;
    transition: animation 0.5s ease;
}

@media (min-width: 900px) {
    
}

@keyframes ani1 {
    0%{
        min-width: 0rem;
        min-height: 0rem;
    }
    100%{
        min-width: 60rem;
        min-height: 35rem;
    }
}


@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

main {
    min-height: 100vh;
    width: 90vw;
    background-color: oldlace;
    /* margin-right: 0; */
    margin: auto;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
}

.bannerContainer {
    overflow: hidden;
    width: 100%;
    height: ;
    /* height: 40vh; */
    /* display: flex; */
    /* width: 48vw;
    width: 1080px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 20px auto; */
}

.banner {

    display: flex;
    object-fit: cover;
    /* position: relative;
    width: 100%;
    width: 3239px;
    height: 15rem;
    background-color: #fff;
    display: flex;
    float: left;
    animation: slide 10s 2s infinite; */
}

.banner img {
    width: 100%;
    height: 100%;
    animation: slide 15s ease 2s infinite;
    object-fit: cover;
    /* width: 3239px; */
    /* width: 100%;
    height: 100%;
    object-fit: cover;
    animation-name: slide;  
    animation-duration: 15s;
    animation-delay: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite; */
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide1 {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    35% {
        left: -1619.5px;
    }
    40% {
        left: -3239px;
    }
    50% {
        left: -6478px;
    }
    70% {
        left: -6478px;
    }
    85% {
        left: -9717px;
    }
    100% {
        left: 0;
    }
}

@keyframes slide1 {
    0% {
      left: 0px;
    }
    15% {
      left: 0px;
    }
    20% {
      left: -3239px;
    }
    32% {
      left: -3239px;
    }
    35% {
      left: -2160px;
    }
    47% {
      left: -2160px;
    }
    50% {
      left: -3240px;
    }
    63% {
      left: -3240px;
    }
    66% {
      left: -4320px;
    }
    79% {
      left: -4320px;
    }
    82% {
      left: -5400px;
    }
    100% {
      left: 0px;
    }
  }


.boxes {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;
}

.boxes .box {
    border: 1px solid black;
    margin: auto;
    margin: 0 10px;
    margin-bottom: 15px;
    overflow: hidden;
    transition: transform 0.5s;
}

.boxes .box:hover {
    transform: translateY(-5px);
}


.boxes .box .content {
    background-color: #fffeca;
    height: 30px;
    text-align: center;
}

/* .box1 {
    width: 50px;
    height: 50px;
} */

.box1 .imgBox img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: all ease 0.5s;
}

/* .box1 .imgBox:hover img {
    scale: 1.1;
} */


.categories {
    margin: 20px 0px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    /* background: red; */
}

.categories div {
    padding: 20px;
    border: 2px solid black;
    width: 26%;
    text-align: center;
}

/* .categories span {
    border: 2px solid black;
} */

.man {
    background: lightblue;
}

.women {
    background: lightpink;
}

.acce {
    background: #fcd6af;
}


.productsContainer {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;
}

.productsContainer .product {
    border: 1px solid black;
    margin: auto;
    margin: 0 10px;
    margin-bottom: 15px;
    overflow: hidden;
    transition: transform 0.5s;
}

.productsContainer .product:hover {
    transform: translateY(-5px);
}


.productsContainer .product .content {
    background-color: #fffeca;
    height: 30px;
    text-align: center;
}

/* .box1 {
    width: 50px;
    height: 50px;
} */

.product .imgBox img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: all ease 0.5s;
}

/* .box1 .imgBox:hover img {
    scale: 1.1;
} */

footer {
    height: 2.5rem;
    background-color: var(--main);
    text-align: center;
    font-size: 18px;
    color: #fff;
    text-shadow: black 0 2px;
}


@media screen and (max-width: 930px) {
    .headerContainer {
        padding: 50px 0;
        /* width: 100%; */
    }
    .cart, .services, .login {
        display: none;
    }
    .categories {
        flex-direction: column;
    }
    .categories div {
        width: 100%;
    }
}

@media screen and (max-width: 930px) {
    .searchContainer {
        /* display: none; */
    }
    .searchForm input {
        width: 12rem;
    }
}

@media screen and (max-width: 550px) {
    .logo {
        margin: 1px;
    }
    .logo span {
        font-size: 30px;
    }
    .searchContainer {
        display: none;
    }
    .searchForm input {
        width: 3rem;
    }
    .searchBtnRes {
        display: flex;
    }
}